body {
  background-color: black;
  color: grey;
  margin: 0;
  display: flex;
  justify-content: center;
}

a {
  color: white;
}

a:visited {
  color: white;
}

h1, h2, h3, h4, h5 {
  margin: 5px;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.break {
  flex-basis: 100%;
  height: 0px;
}

header {
  color: grey;
  justify-content: center;
  height: auto;
  width: 100%;
  flex-wrap: wrap;
}

header > svg {
  width: 65px;
  padding: 25px 0 0 0;
}

header svg:nth-child(1) {
  transform: scaleX(-1);
}

header > hr {
  height: 2px;
  width: 80%;
  border-style: double;
  text-align: center;
  color: grey;
  margin: 20px 10px;
  overflow: visible;
}

header > hr:after {
  font-size: 35px;
  padding: 0 4px;
  display: inline;
  background-color: black;
  color: grey;
  content: "☘";
  position: relative;
  top: -25px;
}

#main {
width: 80%;
align-self: center;
}

#main > * {
  width: 47%;
  margin: 0 10%;
}

footer {
  background-color: grey;
  color: black;
  height: auto;
  width: 100%;
  font-size: 14px;
  bottom: 0;
  position: absolute;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

footer > p {
  align-self: center;
  justify-self: center;
  text-align: center;
  margin: 0;
}

footer > #github {
  align-self: center;
  justify-self: center;
  text-align: center;
  margin: 0 35px 0 0;
}