body {
  margin: 0;
  background-color: #88717e;
}

footer {
    height: 23px;
    background-color: #4b4848;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    left: 0;
    bottom: 0;
    width: 100vw;
}

.main {
  display: flex;
  flex-direction: column;
  align-objects: center;
}

.gridrow {
  display:flex;
  flex-direction: row;
  justify-content: center;
  margin: 2% 0 0 0;
}

.entry {
  display:flex;
  flex-direction: column;
  justify-content: center;
  background-color: black;
  color: white;
  width: 20%;
  height: 15%;
  margin: 0 1% 0 1%;
}
